:root {
  --gray-bg: "#e9e9e9";
}
.map {
  width: 100%;
  height: 100%;
  /* background-color: #e9e9e9; */
}
.map img {
  width: 100%;
  height: 100%;
}
.abroad-heading {
  text-align: center;
  line-height: 1;
  color: var(--maroon-color);
  background-color: #fcfcfc;
  padding-block: 20px;
}
.abroad-heading p:nth-child(1) {
  font-size: 50px;
  font-family: "Gotham-Bold";
}
.abroad-heading p:nth-child(2) {
  font-family: "Gotham-Book";
  font-size: 25px;
}
.tie-ups-heading {
  text-align: center;
  font-family: "Gotham-Bold";
  color: var(--maroon-color);
  font-size: 50px;
}
.tie-ups {
  /* background-color: #e9e9e9; */
  background-color: #fcfcfc;
  padding-block: 30px;
}
.tie-ups-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}
.tie-ups-card {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
}
.tie-ups-card img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 25px;
}
@media screen and (max-width: 320px) {
  /* Styles for smaller smartphones */
  .abroad-heading p:nth-child(1) {
    font-size: 30px;
  }
  .abroad-heading p:nth-child(2) {
    font-size: 15px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Styles for larger smartphones */
  .abroad-heading p:nth-child(1) {
    font-size: 30px;
  }
  .abroad-heading p:nth-child(2) {
    font-size: 15px;
  }
  .tie-ups-heading {
    font-size: 30px;
  }
}
