.instruction-container {
  max-width: 1440px;
  margin: auto;
  padding: 30px;
}
.instruction-content p:nth-child(1) {
  text-transform: uppercase;
  color: var(--maroon-color);
  font-size: 50px;
  font-family: "Gotham-Medium";
}
.instruction-list li {
  list-style: none;
  font-size: 18px;
  font-family: "Gotham-Bold";
}
.instruction-list-2 li {
  list-style: none;
  font-size: 16px;
  font-family: "Gotham-Book";
}
@media screen and (max-width: 320px) {
  /* Styles for smaller smartphones */
  .instruction-content p:nth-child(1) {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Styles for larger smartphones */
  .instruction-content p:nth-child(1) {
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Styles for small desktops and tablets in landscape */
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  /* Styles for larger desktops and laptops */
}

/* Additional media queries for larger screens can be added if needed */
