.carousel {
  background-color: var(--maroon-color);
}
.carousel-item img {
  width: 350px;
  height: 600px;
  -o-object-fit: contain;
  object-fit: contain;
  /* mix-blend-mode: multiply; */
}
.card-data {
  width: 370px;
  height: 130px;
  background-color: white;
  margin: auto;
  border-radius: 10px;
  margin-top: -50px;
  margin-bottom: 30px;
  padding: 10px 5px 5px 10px;
}
.card-data img {
  height: 40px;
  width: auto;
  margin-bottom: 15px;
}
.card-data p {
  color: var(--maroon-color);
  font-size: 25px;
  font-family: "Gotham-Bold";
  line-height: 1;
  letter-spacing: 2px;
}
.card-data p span {
  color: var(--maroon-color);
  font-size: 20px;
  font-family: "Gotham-Medium";
  letter-spacing: normal;
}
.alumni-heading {
  color: rgba(255, 255, 255, 0.447);
  font-size: 100px;
  text-transform: uppercase;
  font-family: "Gotham-Bold";
  z-index: -200;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  margin-bottom: -50px;
}
@media screen and (max-width: 320px) {
  /* Styles for smaller smartphones */
  .alumni-heading {
    font-size: 30px;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Styles for larger smartphones */
  .alumni-heading {
    font-size: 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Styles for tablets */
}
