.ranking-cards {
  max-width: 1440px;
  margin: auto;
  margin-block: 50px;
}
.ranking-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 50px;
}
.ranking-card {
  width: 350px;
  height: 300px;
  -o-object-fit: contain;
  object-fit: contain;
  background: url("../../assets//images//ranking.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.ranking-card p:nth-child(1) {
  color: var(--maroon-color);
  font-family: "Gotham-Bold";
  font-size: 18px;
  line-height: 1;
  margin-top: 70px;
}
.ranking-card p:nth-child(2) {
  margin-top: -10px;
  color: var(--maroon-color);
  font-family: "Gotham-Medium";
  font-size: 14px;
  line-height: 1;
}
